* {
  margin: 0;
  padding: 0;
}


.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: absolute;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
}

.container-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: serif;
}

.logo img {
  width: 113.4px;
  height: 22.48px;
}

.motel {
  height: 22.481664657592773px;
  width: 113.4000015258789px;
  border-radius: 0px;
}

.vision {
  width: 112.47px;
  height: 23.37px;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  height: 40px;
  color: #FFFFFF;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.btn-reservas {
  border: none;
  width: 96px;
  height: 45px;
}

.div-slider {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./img/slider-d.png");
  width: 100vw;
  background-size: cover;
  height: 720px;
}

.slider {
  width: 100vw;
  height: 720px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.slider p {
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;

  transform:scale(1.2,1);
  color: #FFFFFF;
}
