* {
  margin: 0;
  padding: 0;
}


.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: absolute;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
}

.container-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: serif;
}

.logo img {
  width: 113.4px;
  height: 22.48px;
}

.motel {
  height: 22.481664657592773px;
  width: 113.4000015258789px;
  border-radius: 0px;
}

.vision {
  width: 112.47px;
  height: 23.37px;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  height: 40px;
  color: #FFFFFF;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.btn-reservas {
  border: none;
  width: 96px;
  height: 45px;
}

.div-slider {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./img/slider-d.png");
  width: 100vw;
  background-size: cover;
  height: 720px;
}

.slider {
  width: 100vw;
  height: 720px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.slider p {
  font-size: 22px;
  font-weight: 300;
  line-height: 0px;
  text-align: center;

  transform:scale(1.2,1);
  color: #FFFFFF;
}

.slider h1 {
  font-family: Playfair Display;
  font-weight: 600;
  font-size: 67px;
  line-height: 89px;
  text-align: center;
  color: #FFFFFF;
}

.slider div {
  display: flex;
  width: 336px;
  justify-content: space-between;
}

.slider .btn1 {
  border: none;
  width: 160px;
  height: 41px;
  background: #7A7266;
  color: #FFFFFF;
}

.slider .btn2 {
  border: none;
  width: 160px;
  height: 41px;
  background: #5A493E;
  color: #FFFFFF;
}


.suites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #7A7266;
  height: 900px;
  width: 100vw;

  -webkit-box-shadow: -1px -4px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 5px -2px rgba(0,0,0,0.75);
  box-shadow: -1px -4px 5px -2px rgba(0,0,0,0.75);
}

.container-suites {
  margin-top: -250px;
}


.container-titulo {
  margin-top: -200px;
}

.container-titulo h1 {
  color: #FFFFFF;
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-align: center;
}

.carousel-item {
  height: 550px;
}

.d-block {
  z-index: -1;
}

.description-suite {
  position: absolute;
  width: 342px;
  height: 128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#FFFFFF;
  margin-top: -40px;
  margin-left: 25%;


  -webkit-box-shadow: 7px 7px 11px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 11px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 11px -6px rgba(0,0,0,0.75);
}

.carousel {
  max-width: 752px;
  height: 440px !important;
}

.description-title h3 {
  font-family: Playfair Display;
  color: #2A2A2A;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.description-title p {
  font-weight: 400;
  line-height: 150%;
  color: #2A2A2A;
}

.description-suite button {
  border: none;
  width: 109px;
  height: 41px;
  background-color: #5A493E;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* text btn */
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
}

.link-all-suites {
  position: absolute;
  margin-top: 650px;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
/* identical to box height */

  text-decoration-line: underline;
  color: #FFFFFF;

}

.carousel-control-prev {
  background-color: #FFFFFF;
  opacity: 0.5;
  width: 40px;
  height: 62px;
  margin-top: 189px;
}

.carousel-control-next {
  background-color: #FFFFFF;
  opacity: 0.5;
  width: 40px;
  height: 62px;
  margin-top: 189px;
}

.container-motel-description {
  background-color:#EEEEEE;
  min-height: 704px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: normal;
}

.motel-description {
  background: #FFFFFF;
  max-width: 568px;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  margin-right: 0px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.container-motel-img {
  max-width: 568px;
  height: 512px;
  margin-left: -10px;
  margin-top: -12px;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.08));
}

.motel-description button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 32px;

  width: 109px;
  height: 41px;
  background: #7A7266;
  color: #FFFFFF;
}

.motel-title h1 {
  margin-left: 32px;
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: #2A2A2A;
}

.container-text p {
  margin-left: 32px;
  margin-right: 32px;
  font-family: 'Montserrat',  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  color: #2A2A2A;
}
