@media(max-width: 1600px) {
  .container-courtesies {
    min-height: 900px;
  }

  .containers-discription {
    width: 80%;
  }
}

@media(max-width: 1400px) {
  .containers-discription {
    width: 90%;
  }
}

@media(max-width: 1280px) {
  .containers-discription {
    width: 96%;
  }
}

@media(max-width: 1130px) {
  .container-courtesies {
    min-height: 1200px;
  }

  .container-motel-description {
    flex-direction: column-reverse;
    min-height: 1050px;
  }
  .container-motel-img {
    filter: none;
    margin-top: -60px;
  }
  .container-motel-img img {
    object-fit: cover;
  }
  .motel-description {
    margin-top: -20px;
  }
  .containers-localization {
    min-height: 650px;
  }
  .container-localization {
    flex-direction: column;
  }
}

@media(max-width: 950px) {
  .container-menu {
    justify-content: space-evenly;
  }

  .logo {
    margin-left: 20px;
  }

  .btn-reservas {
    margin-right: 15px;
  }
}

@media(max-width: 700px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .container-text-contact {
    display: none;
  }
  .container-contact-text-one {
    display: none;
  }
  .container-contact-text-two {
    display: none;
  }
  .container-contact-text-three {
    display: none;
  }

  .containers-contact {
    flex-direction: column;
    height: 511.3px;
  }

  .container-contact-btns {
    width: 296px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .container-contact-btns button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 53px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;    
  }
  
  hr {
    display: block;
    width: 296px;
    height: 1px;
    background: #D9D9D9;
  }

  .contact-btn1 {
    background: #7A7266;
    box-shadow: 0px 4px 10px rgba(80, 8, 21, 0.25);    
  }

  .contact-btn2 {
    background: #7A7266;
  }

  .contact-btn3 {
    background-color: #2A2A2A;
    border: 1.5px solid #FFFFFF !important;
  }

  .contact-btn4 {
    background-color: #2A2A2A;
    border: 1.5px solid #FFFFFF !important;
  }
  .container-contact-btns button:hover {
    transition: 0.3s;
    box-shadow: none;
    background-color: #69625a;
  }
}

@media(max-width: 800px) {
  .mobile-slider {
    width: 312px;
    height: 440px;
    object-fit: cover;
  }

  .container-mobile-slider {
    margin-left: 5%;
    margin-right: 7%;
  }

  .description-suite {
    min-height: 128px;
    margin-left: 20%;
  }

  .containers-discription {
    flex-direction: column;
    align-items: center;
  }

  .container-courtesies {
    min-height: 1300px;
  }
}

@media(max-width: 600px) {
  .description-suite {
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 195px;
    margin-top: -80px;
  }

  .carousel-item {
    height: 600px;
  }

  .container-motel-img {
    width: 100vw;
    object-fit: cover;
  }

  .motel-description {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-localization {
    width: 396px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-localization-img {
    width: 396px;
  }

  .container-localization-text {
    width: 100%;
  }
}

@media(max-width: 490px) {
  .description-suite {
    margin-left: 13%;
  }
  .container-localization {
    width: 296px;
    object-fit: cover;
    object-position: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-localization-img {
    width: 296px; 
    object-fit: cover;
    object-position: center;
  }

  .container-localization-text {
    width: 100%;
  }
}

@media(max-width: 420px) {
  .description-suite {
    margin-left: 6%;
  }

  .container-discription {
    width: 264px;
  }

  .img1-courtesies {
    width: 264px;
  }

  .img2-courtesies {
    width: 264px;
  }

  .img2-courtesies {
    width: 264px;
  }
}


@media(max-width: 360) {
  .container-localization {
    width: 196px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-localization-img {
    width: 196px;
  }

  .container-localization-text {
    width: 100%;
  }
}

@media(max-width: 340px) { 
  .motel-description {
    height: 660px;
  }

  .container-contact-btns {
    width: 150px;
  }
  hr {
    width: 170px;
  }
}

.nav-mobile {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  
  position: absolute;
  height: 70px;
  left: 0px;
  right: 0px;
  top: 649px;
  
  background: #2A2A2A;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.12);
}

.logo-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motel-mobile {
  width: 83px;
  height: 16.45px;
}

.vision-mobile {
  width: 82.32px;
  height: 17.1px;
}

.btn1-mobile {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 105px;
  height: 45px;
  
  background: #7A7266;
  box-shadow: 0px 4px 20px rgba(46, 1, 25, 0.3);
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.icon-mobile {
  cursor: pointer;
  width: 28px;
  height: 14px;
  
  font-size: 30px;

  color: #FFFFFF;
}


.container-mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s;
  background-color: #2A2A2A;
  position: absolute;
  z-index: 1;
  height: 650px;
  width: 100vw;
}

.link-mobile {
  color: #FFFFFF;
  text-decoration: none;
}

.link-mobile:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.link-mobile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.link-mobile:hover {
  transition: 0.3s;
  color: #5A493E;
}